/*ESTILOS PARA INDEX PAGE*/

.c_init{ /**/
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/star-pattern.svg);
    background-color: #235390;
}
#c_1{
    align-items: center;
    display: flex;
    margin: 12px auto;
    padding: 40px;
    text-align: center;
}

#c_1_1{
    margin: auto 48px;
    width: 60%;
}

#c_logo_1{
    background-image: url(/imgs/logo.svg);
    background-size: 360px;
    height: 360px;
    min-width: 360px;
    max-height: 360px;
    width: 360px;
    align-items: center;
}
#c_baner_1{
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 50px;
    display: block;
}
#buton{
    width: 320px;
    height: 50px;
    margin: 0 0 10px;
}
ul {
    list-style: none;
}

.prueba{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.prueba ul {
    padding-left: 50px;
    position: relative;
}
.prueba ul::after{ /* Linea para modficar*/
    content: '';
    position: absolute;
    width: 3px;
    left: 40px;
    top: 0;
    height: calc(100% - 70px);
    z-index: -1;
    margin-top: 32px;
    background: #3742da;
}
.prueba ul li {
    padding: 30px 0;
    padding-left: 20px;
}

.prueba ul li a {
    text-decoration: none;
    position: relative;
    color: #3742da;
    font-size: 1.5rem;
    line-height: 1rem;
    font-weight: 500;
}
.prueba ul li a:before { /* circulo para modificar*/
    content: '';
    position: absolute;
    background: #060810;
    width: 18px;
    height: 18px;
    left: -37px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
    border: 2px solid #3742da;
    transition: backgroud 250ms;
}
.prueba ul li a.active {
    font-weight: 700;
}
.prueba ul li a.active::before {
    background: #3742da;
}

.banner1 img{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 60%;
    left: 0px;
    top: 2px;
    opacity: 0.5;
    border: 1px solid #000000;
}
.banner1 h3{
    position: absolute;
    width: 60%;
    height: 10%;
    left: 20%;
    top: 25%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 87px;
    text-align: center;
    color: #000000;
}
.banner2 img{
    width: 422px;
    height: 631px;
}
.banner2 h2{
    width: 80%;
    height: 50%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #8A2BE2;
    mix-blend-mode: darken;
}
.banner2 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
    display: flex;
    align-items: flex-end;
    text-align: left;
    color: #000000;
}
.banner3{
    width: 100%;
    height: 100%;
    left: 0px;
    background: #1A1A1A;
    mix-blend-mode: normal;
    padding-bottom: 100px;
}
.banner3 .card{
    margin-left: 20%;
}
.banner3 h1{
    width: 100%;
    height: 50%;
    margin-top: 2%;
    margin-bottom: 5%;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 48px;
    line-height: 65px;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.banner3 .card-header{
    background-color: #1A1A1A;
    text-align: center;
    display: block;
    width: 100%;
    height: 60px;
}
.banner3 .card-body{
    height: 300px;
}
.banner4{
    background-image: url(/imgs/star-pattern.svg);
    background-color: #8A2BE2;
}
.banner4 img{
    height: 60%;
    width: 60%;
    margin: 20px;
}
.banner4 p{
    margin: 20% 10px 10px 15%;
    width: 70%;
    height: 147px;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Comfortaa';
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}
.banner4 .btn{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    background: #8C00FA;
    border-bottom: 12px solid #722CB9;
    backdrop-filter: blur(4px);
    border-radius: 30px;
}
.banner4 .btn1{
    background: #AC2BFC;
}
.linea {
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
  }