.card {
    font-family: din-round,sans-serif;
    font-size: 18px;
    text-align: center;
    font: 500 17px/20px sans-serif;
    background-color: transparent;
    line-height: 24px;
   }
   
   body {
     font: 500 17px/20px sans-serif;
     color: #3c3c3c;
   }
   
   h1 {
     display: block;
     margin-block-start: 0.67em;
     margin-block-end: 0.67em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
   }
   
   h1, h2 {
     font-weight: 700;
   }
   
   .instructions {
     font-size: 25px;
       line-height: 24px;
       margin: 0;
       text-align: left;
       width: 100%;
       display: block;
   }
   
   .questionSpace {
     display: intial;
     margin-top: 16px;
     margin-bottom: 16px;
     font-size: 19px;
     text-align: initial;
   }
   
   .flagFrame {
     display: inline-block;
     width: 30px;
     height: 26px;
     outline: none;
     background-color: #1cb0f6;
     border-radius: 16px;
     box-shadow: 0px 4px #1899d6;
     line-height: 0;
     color: #fff;
     position: relative;
     bottom: -4px;
   }
   
   #question {
     display: inline-block;
   }
   
   .cloze {
    font-weight: bold;
    padding: 3px;
   }
   
   .type {
   background: black;
   }
   
   .answerSpace {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 150px;
    width: 100%;
    justify-content: center;
    text-align: initial;
    font-size: 19px;
    color: #3c3c3c;
    font: 500 17px/20px sans-serif;
    background-color: #f7f7f7;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    padding:10px 25px;
    line-height: 24px;
    margin:0px 0px 14px 0px;
   }
   
   #translation {
   margin: 10px 0px 0px 0px;
   }
   
   .hint {
     display: inline-block;
     text-align: center;
     vertical-align: middle;
     white-space: nowrap;
     min-width: 150px;
     width: 100%;
     background-color: #78c800;
     color: #fff;
     font-size: 15px;
     font-weight: 700;
     letter-spacing: .8px;
     line-height: 20px;
     transform: translateZ(0);
     border-style: solid;
     border-color: transparent;
     border-radius: 16px;
     border-top: 18px;
     border-top-left-radius: 18px;
     border-width: 0 0 4px;
     padding: 13px 16px;
     box-shadow: 0px 5px #58a700;
   }
   
   #hintLabel {
     text-transform: uppercase;
   }
   
   #typeans {
   }
   
   input#typeans {
   border-width: 0px;
   background-color: transparent;
   outline: none;
   }
   
   .typeGood {
   }
   
   .typeBad {
   }
   
   .typeMissed {
   }