.c_init{
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/star-pattern.svg);
    background-color: #235390;
}

.logo_nav{ /* se aplica solo para el logo el tamaño */
    height: 90px;
    width: 80px;
}

